<div class="cards-container2">
    <h2>Simple Rishta found matches for you!</h2>
    <div class="card">
        <div class="upper-part">
            <div class="card-img">
            </div>
            <div class="upper-text">
                <h3>MATID445031</h3>
                <p>Profile Created by Candidate</p>
                <a href="#" class="btn">Full Profile</a>
            </div>
        </div>
        <div class="lower-part">
            <div class="lower-text">
                <p><span><i class="bi bi-gender-ambiguous"></i></span>Single</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Rawalpindi</p>
                <p><span><i class="bi bi-universal-access-circle"></i></span>Muslim</p>
                <p><span><i class="bi bi-mortarboard-fill"></i></span>Not Specified</p>
            </div>
            <div class="lower-text">
                <p><span><i class="bi bi-speedometer"></i></span>32 Years</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Pakistan</p>
                <p><span><i class="bi bi-person-circle"></i></span>Bukhari</p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="upper-part">
            <div class="card-img">
            </div>
            <div class="upper-text">
                <h3>MATID445031</h3>
                <p>Profile Created by Candidate</p>
                <a href="#" class="btn">Full Profile</a>
            </div>
        </div>
        <div class="lower-part">
            <div class="lower-text">
                <p><span><i class="bi bi-gender-ambiguous"></i></span>Single</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Rawalpindi</p>
                <p><span><i class="bi bi-universal-access-circle"></i></span>Muslim</p>
                <p><span><i class="bi bi-mortarboard-fill"></i></span>Not Specified</p>
            </div>
            <div class="lower-text">
                <p><span><i class="bi bi-speedometer"></i></span>32 Years</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Pakistan</p>
                <p><span><i class="bi bi-person-circle"></i></span>Bukhari</p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="upper-part">
            <div class="card-img">
            </div>
            <div class="upper-text">
                <h3>MATID445031</h3>
                <p>Profile Created by Candidate</p>
                <a href="#" class="btn">Full Profile</a>
            </div>
        </div>
        <div class="lower-part">
            <div class="lower-text">
                <p><span><i class="bi bi-gender-ambiguous"></i></span>Single</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Rawalpindi</p>
                <p><span><i class="bi bi-universal-access-circle"></i></span>Muslim</p>
                <p><span><i class="bi bi-mortarboard-fill"></i></span>Not Specified</p>
            </div>
            <div class="lower-text">
                <p><span><i class="bi bi-speedometer"></i></span>32 Years</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Pakistan</p>
                <p><span><i class="bi bi-person-circle"></i></span>Bukhari</p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="upper-part">
            <div class="card-img">
            </div>
            <div class="upper-text">
                <h3>MATID445031</h3>
                <p>Profile Created by Candidate</p>
                <a href="#" class="btn">Full Profile</a>
            </div>
        </div>
        <div class="lower-part">
            <div class="lower-text">
                <p><span><i class="bi bi-gender-ambiguous"></i></span>Single</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Rawalpindi</p>
                <p><span><i class="bi bi-universal-access-circle"></i></span>Muslim</p>
                <p><span><i class="bi bi-mortarboard-fill"></i></span>Not Specified</p>
            </div>
            <div class="lower-text">
                <p><span><i class="bi bi-speedometer"></i></span>32 Years</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Pakistan</p>
                <p><span><i class="bi bi-person-circle"></i></span>Bukhari</p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="upper-part">
            <div class="card-img">
            </div>
            <div class="upper-text">
                <h3>MATID445031</h3>
                <p>Profile Created by Candidate</p>
                <a href="#" class="btn">Full Profile</a>
            </div>
        </div>
        <div class="lower-part">
            <div class="lower-text">
                <p><span><i class="bi bi-gender-ambiguous"></i></span>Single</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Rawalpindi</p>
                <p><span><i class="bi bi-universal-access-circle"></i></span>Muslim</p>
                <p><span><i class="bi bi-mortarboard-fill"></i></span>Not Specified</p>
            </div>
            <div class="lower-text">
                <p><span><i class="bi bi-speedometer"></i></span>32 Years</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Pakistan</p>
                <p><span><i class="bi bi-person-circle"></i></span>Bukhari</p>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="upper-part">
            <div class="card-img">
            </div>
            <div class="upper-text">
                <h3>MATID445031</h3>
                <p>Profile Created by Candidate</p>
                <a href="#" class="btn">Full Profile</a>
            </div>
        </div>
        <div class="lower-part">
            <div class="lower-text">
                <p><span><i class="bi bi-gender-ambiguous"></i></span>Single</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Rawalpindi</p>
                <p><span><i class="bi bi-universal-access-circle"></i></span>Muslim</p>
                <p><span><i class="bi bi-mortarboard-fill"></i></span>Not Specified</p>
            </div>
            <div class="lower-text">
                <p><span><i class="bi bi-speedometer"></i></span>32 Years</p>
                <p><span><i class="bi bi-geo-alt-fill"></i></span>Pakistan</p>
                <p><span><i class="bi bi-person-circle"></i></span>Bukhari</p>
            </div>
        </div>
    </div>
</div>