.cards-container2{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row !important;
    justify-content: space-between;
    
}

h2{
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}

.card{
    width: 48%;
    padding: 10px;
    display: flex;
    flex-direction: column !important;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 10px 0;

}
.upper-part{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}
.card-img{
    width: 40%;
    height: 120px;
    margin: 20px;
    background-image: url("Images/card-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    
}
.upper-text{
    width: 60%;
    padding: 20px;
}
.upper-text h3{
    font-size: 20px;
    color: #d61d64;
    font-weight: bold;
}
.upper-text p{
    font-size: 16px;
    color: black;
}
.upper-text a{
    text-decoration: none;
}
.upper-text .btn{
    font-size: 16px;
    color: white;
    width: 80%;
    background-color: #d61d64;
    text-transform: uppercase;
    border-radius: none;
    border: 2px solid red;
}
.upper-text .btn:hover{
    color: #fff;
    background-color: rgba(255, 0, 0, 0.61);
    border: 2px solid white;
    transition: 1s;
}

.lower-part{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    padding:10px;
    justify-content: space-between;
}
.lower-text{
    width: 48%;
    padding: 10px;
}
.lower-text span{
    margin: 0 10px;
}

@media only screen and (min-width:768px) and (max-width:991px){
    .upper-text h3{
        font-size: 16px;
    }
    .upper-text p{
        font-size: 12px;
    }
    .upper-text a{
        text-decoration: none;
    }
    .upper-text .btn{
        font-size: 8px;
    }  

}


@media only screen and (max-width:768px){
    .cards-container2{
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column !important;
        align-items: center;
        
    }

    .card{
        width: 90%;
    }

    .upper-text h3{
        font-size: 16px;
    }
    .upper-text p{
        font-size: 12px;
    }
    .upper-text .btn{
        font-size: 8px;
    }
    
    .card-img{
        width: 40%;
        height: 160px;
        margin: 20px;
    }
}
