header{
    width: 100%;
    background-image: url("Images/Banner33.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom 0;
}
.navbar{
    position: fixed !important;
    padding: 0px !important;
    z-index: 10010;
    width: 100%;
    left: 0px;
    top: 0px;
    bottom: auto;
    margin-top: 0px;
    background-color: white !important;
    transition: border .3s ease 0ms,background-color .3s ease 0ms,background-image .3s ease 0ms;
}

.navbar ul{
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar ul li{
    list-style-type: none;
    padding: 1rem;
}
.navbar ul li a{
    font-weight: bold;
    color: #d61d64;
    text-decoration: none;
}
.navbar-logo{
    flex: 1;
    font-size: 2rem;
    color: #d61d64;
    font-weight: bold;
}

.navbar ul li a:hover{
    border-bottom: 4px double white;   
    transition: .4s;
}

.main-container{
    margin: auto;
    width: 80%;
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.text-container{
    width: 95%;
    margin: auto;
    padding: 2% 0;
    position: relative;
    display: flex;
    
}
.text{
    width: 45%;
    flex: 1;
    padding: 15px;
}
.text h1{
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}
.text p{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.video-img{
    width: 55%;
    padding: 20px;
}

.img-container{
    width: 100%;
    height: 250px;
    max-height: auto;
    margin: auto;
    background-image: url("Images/video-image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
    background-position: center;
}

.text a{
    text-decoration: none;
}
.lgn-btn ,.rg-btn{
    width: 150px;
    background-color: white;
    color: black;
    margin:5px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.rg-btn{
    color: white;
    background-color: blueviolet !important;
}

@media only screen and (max-width:991px) {
    .navbar ul{
        flex-wrap: wrap;
    }

    .text-container{
        padding:2% 0;
        flex-direction: column;        
    }
    .text,.video-img{
        width: 100%;
    }
    .img-container{
        height: 300px;
    }
    
}