h3{
    font-size: 30px;
    text-align: left;
    padding: 5px;
    color: #d61d64;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
.form-check{
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;    
}

.form-check-label{
    font-size: 20px;
    font-weight: bold;
    color:#d61d64;
    text-transform: capitalize;
    margin-left: 5px;
}

.radio{
    width: 45%;
}

.select{
    width: 90%;
    margin-top: 10px;
}
.form-select{
    color: black;
    font-weight: bold;
    background-color:lightgray ;
}

.range{
    width: 90%;
}
.form-label{
    font-size: 20px;
    font-weight: bold;
    color:#d61d64;
    text-transform: capitalize;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
span{
    font-size: 20px;
    font-weight: bold;
    color:black;
    text-transform: capitalize;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-range{
    margin-bottom: 10px;
    background-color: #d61d64;
    border-radius: 10px;
}

@media only screen and (min-width:768px) and (max-width:991px) {
    h3{
        width: 100%;
    }
    .form{
        width: 100%;
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-check{
        width: 48%;
    }

    .select{
        width: 45%;
    }
    .range{
        width: 100%;
        margin-bottom: 20px;
    }
    .form-label,span{
        float: left;
        margin-bottom: 5px;
    }
}