.col-8{
    margin-bottom: 20px;
    background-color: #f5f5f5 ;
}
.col-4{
    margin-bottom: 20px;
    background-color: #f5f5f5;
    padding: 20px;
}

.col-8 h1{
    font-size: 25px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}

.col-8 h1 span{
    color:#d61d64 ;
}

@media only screen and (min-width:320px) and (max-width:768px){
    .col-4,.col-8{
        width: 100%;
        display: block;
    }
    .col-8 h1{
        width: 60%;
        font-size: 18px;
    }
}

@media only screen and (min-width:768px) and (max-width:991px){
    .col-8 h1{
        width: 70%;
        font-size: 20px;
    }
}